.caja{
  border: 4px black solid;
  margin-top: 20px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}

.elemento{
  margin: 10px;
  width: 5000px;
  text-align: center;
  border: 1px dashed red;
}

.caja2{
  border: 3px blue solid;
  display: flex;
  flex-direction: column;

}
.elementoInterno{
  margin: 10px;
  /* width: 5000px; */
  text-align: center;
  border: 1px dashed green;
}
