header{
  color: white;
  background-color: red;
  width: 90%;
  margin: 0 auto; /*0px para top y bottom - auto (misma cantidad) para left y right*/
}
section{
  overflow: hidden; /*Corta el float de sus elementos hijos (en este caso los "article")*/
}
article{
  width: 20%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  background-color: violet;
  color: white;
  float: left;
  box-sizing: border-box;
}
footer{
  width: 90%;
  background-color: green;
  color: white;
  margin: 0 auto;
}
