/* .caja{
  border: 1px dashed black;
  box-sizing: border-box;
} */
body{
  font-family: sans-serif;
  margin: 0 10%;
  
}
header{
  background-image: url("../img/emilia-music-top.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  overflow: hidden;
  border-radius: 10px;
}
nav{
  margin-top: 10px;
  padding-top: 1px;
  background-color: rgba(195, 195, 195, 0.53);
  overflow: hidden;

}
header ol{
  float: right;
  margin-right: 5px;
}
header li{
  float: left;
  margin-left: 10px;
  margin-right: 5px;
}
header ul{
  margin-top: 0px;
  float: right;
}
li img{
  width: 10px;
  margin-top: 5px;
}
li{
  list-style-type: none;
  margin-left: -25px;
}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  text-decoration: underline;
}
h1{
  font-size: 45px;
}
h2{
  display: inline;
}

/*SECTION*/
section{
  font-family: 'Work Sans';
  margin-left: 15px;
}

article{
  margin-top: 45px;
  margin-left: 25px;
}

article a{
  color: grey;
}

iframe {
  margin-top: 20px;
  margin-bottom: 10px;
}
